src/main/mule/cicd1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c8364da7-6552-43f8-8f8a-d01bbbe2b337" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="25f70952-c801-4e44-9cee-c61a9e18a166" >
		<http:request-connection protocol="HTTPS" host="www.timeapi.io" />
	</http:request-config>
	<flow name="cicd1Flow" doc:id="eb332351-89d1-4397-96bd-7d5546db4c9c" >
		<http:listener doc:name="Listener" doc:id="4fcb9b78-86d7-4ae2-a150-50f96ba53801" config-ref="HTTP_Listener_config" path="ccid"/>
		<http:request method="GET" doc:name="Request" doc:id="b706b364-551b-4d8a-80d4-7627476bd202" config-ref="HTTP_Request_configuration" path="/api/time/current/zone" >
			<http:query-params ><![CDATA[#[output application/java
---
{
	timezone : attributes.queryParams.timezone
}]]]></http:query-params>
		</http:request>
	</flow>
</mule>
